<ion-header class="ion-no-boarder">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="tertiary">Volver</ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ list.titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  
  <ion-list color="dark">
    <ion-item color="dark">
      <ion-label position="floating">Item name</ion-label>
      <ion-input type="text" [(ngModel)]="itemName" (keyup.enter)="addItem()"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list color="dark">
    
    <ion-list-header color="dark">
      <ion-label>Task to do</ion-label>
    </ion-list-header>

    <ion-item color="dark" *ngFor="let i of list.items" >
      <ion-checkbox slot="start" color="tertiary" [(ngModel)]="i.completado"></ion-checkbox>
      <ion-label>{{i.descripcion}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
